table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
td{
    color: #0b0b0b;
}

tr {
    background-color: #dddddd;
}
