<header class="main-header clearfix" role="header" >
  <div class="logo">
    <a href="#"><em>ENSA</em> Berrechid</a>
  </div>
  <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
  <nav id="menu" class="main-nav" role="navigation" >
    <ul class="main-menu">
      <li><a href="#section1">Home</a></li>
      <li><a href="#section2">About Us</a>

      </li>
      <li><a href="#section4">News</a></li>
      <li><a href="#section6">Contact</a></li>
      <li><a routerLink="/authenticate" class="external">Administration</a></li>
    </ul>
  </nav>
</header>

<section class="section main-banner" id="top" data-section="section1">
  <video  autoplay loop id="bg-video" >
    <source src="assets/images/videoEnsa.mp4"  type="video/mp4" />
  </video>

  <div class="video-overlay header-text">
    <div class="caption" >
      <h6>The Nationale School of Applied Sciences </h6>
      <p style="color: white">
        At <b style="color: orange">ENSA-B</b>, we believe in fostering an environment where learning goes
        beyond the classroom. Our blog serves as a digital hub pulsating with vibrant ideas,
        insights, and experiences. Here, we celebrate the diversity of perspectives, the brilliance
        of creativity, and the pursuit of knowledge that defines our institution.
      </p>
    </div>
  </div>
</section>


<section class="section why-us" data-section="section2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>About Ensa-B</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div id='tabs'>
          <section class='tabs-content'>
            <article id='tabs-1'>
              <div class="row">
                <div class="col-md-6">
                  <img src="assets/images/bestEducation.png" alt="">
                </div>
                <div class="col-md-6">
                  <h4>Best Education</h4>
                  <p>

                    Top engineering colleges offer a comprehensive education blending theory and practice. They boast cutting-edge facilities, top-tier faculty, and a curriculum that fosters critical thinking and problem-solving. These institutions prepare students not just with technical skills, but also with leadership qualities to excel in the ever-evolving field of engineering.
                  </p>
                </div>
              </div>
            </article>
            <article id='tabs-2'>
              <div class="row">
                <div class="col-md-6">
                  <img src="assets/images/topLevel.png" alt="">
                </div>

                <div class="col-md-6">
                  <br><br>
                  <h4>Top Level</h4>
                  <p>
                    Top engineering colleges are known for their outstanding academic programs, renowned faculty, cutting-edge facilities, and emphasis on research and innovation. They produce graduates who excel in their fields, fostering creativity and critical thinking. These institutions create leaders and innovators in the engineering world.                  </p>
                </div>
              </div>
            </article>
            <article id='tabs-3'>
              <div class="row">
                <div class="col-md-6">
                  <img src="assets/images/meeting.png" alt="">
                </div>
                <div class="col-md-6">
                  <h4>Quality Meeting</h4>
                  <p>
                    A high-quality meeting is characterized by a clear purpose, focused agenda, active participation, effective time management, decisive outcomes, open communication, accountability for action items, and adaptability to changes. These elements contribute to a productive and efficient meeting that achieves its objectives and encourages collaboration among participants.
                  </p>
                </div>
              </div>
            </article>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section courses" data-section="section4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>News</h2>
        </div>
      </div>
      <app-list-of-news></app-list-of-news>

    </div>
  </div>
</section>


<section class="section contact" data-section="section6">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Keep In Touch</h2>
        </div>
      </div>
      <div class="col-md-6">

        <form  action="" method="post">
          <div class="row" style="color: white">
            <div class="col-md-12" >
              <i class="fa fa-envelope" >&nbsp;&nbsp;</i><strong style="color: orange">Email :</strong> Ensa-B2023@gmail.com
            </div>
            <br><br>
            <div class="col-md-12">
              <i class="fa fa-phone" >&nbsp;&nbsp;</i><strong style="color: orange">Phone :</strong> +212601409071
            </div>
            <br><br>
            <div class="col-md-12">
              <i class="fa fa-fax" >&nbsp;&nbsp;</i><strong style="color: orange">Fax :</strong> +212603045989
            </div>
            <br><br>
            <div class="col-md-12">
              <i class="fa fa-briefcase" >&nbsp;&nbsp;</i><strong style="color: orange">Address :</strong> B.P 218, Berrechid 26100, Morocco
            </div>
            <br><br>
            <div class="col-md-12">
              <i class="fa fa-globe" >&nbsp;&nbsp;</i><strong style="color: orange">Official website :</strong> <a href="http://www.ensab.ac.ma/" style="font-size: large;color: white"> http://www.ensab.ac.ma/</a>
            </div>

          </div>
          <br><br><br><br><br>
        </form>
      </div>
      <div class="col-md-6">
        <div id="map">

          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.726417293916!2d-7.5839708!3d33.2586976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9823260201eae931!2sNational%20School%20of%20applied%20sciences_BERRECHID!5e0!3m2!1sen!2sma!4v1640184289151"
            width="100%"
            height="400"
            frameborder="0"
            style="border:0"
            allowfullscreen=""
            loading="lazy">
          </iframe>

        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p><i class="fa fa-copyright"></i> Copyright 2023

          | <a href="https://templatemo.com" rel="sponsored" target="_parent">ENSA-Berrechid</a><br>
          Distributed By: <a href="https://themewagon.com" rel="sponsored" target="_blank">Hajar-Abdessamad-Imad</a>

        </p>
      </div>
    </div>
  </div>
</footer>



